<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">
<mat-form-field>
    <mat-label>Numero da Franquia</mat-label>
    <input name="numero_franquia" [(ngModel)]="loja.numero_franquia" matInput required placeholder="Informe o nome do Fornecedor">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input name="endereco" [(ngModel)]="loja.endereco" matInput required placeholder="Informe o Endereço da Loja">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Telefone</mat-label>
    <input name="telefone" [(ngModel)]="loja.telefone" matInput required placeholder="Informe o Telefone da Loja">
  </mat-form-field>
  
   <mat-form-field>
    <mat-label>Produto</mat-label>
      <mat-select name="produto" [(ngModel)]="loja.produto" required multiple>
        <mat-option *ngFor="let produto of produtos" [value]="produto._id">
          {{ produto.nome }}
        </mat-option>
      </mat-select>
  </mat-form-field>

  <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
      <button mat-raised-button type="submit" color="accent">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="voltar(f)">
        Voltar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</form>
