mat-toolbar {
    // Centralizar os itens
    justify-content: center;
    // Diminuir o tamanho da font 
    font-size: 90%;
    // Diminuir altura da toolbar
    height: 32px;
    // Posicionando a toolbar no fundo da página
    position: fixed;
    bottom: 0;

    // No SCSS, é possível escrever a regra para o elemento filho
    // dentro da regra do elemento pai
    mat-icon {
        width: 16px;
        height: 16px;
        font-size: 16px;
    } 
}

/* CSS puro
mat-toolbar mat-icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
}
*/